.adress-text {
  padding: 26px 0;
}

.adress-text__title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  color: #000000;
}

.adress-text__subtitle {
  font-family: "Arial", sans-serif;
  margin: 0;
  line-height: 20px;
}
