.adress-text {
  padding: 26px 0;
}

.adress-text__title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  color: #000000;
}

.adress-text__subtitle {
  font-family: "Arial", sans-serif;
  margin: 0;
  line-height: 20px;
  margin-left: auto;
}

@media (min-width: @desktop-width) {
  .adress-text {
    box-sizing: border-box;
    width: 565px;
    height: 198px;
    padding: 56px 80px;
    background-color: #ffffff;
  }
}
