.main-footer {
  background-color: #f2f2f2;
  padding-top: 31px;
  padding-bottom: 22px;
}

.main-footer__wrapper {
  width: 280px;
  margin: 0 auto;
}

.main-footer__logo {
  margin: 0 76px;
  text-align: center;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-footer__logo-text {
  width: 128px;
  height: 24px;
}

.main-footer__social {
  padding: 0 74px;
  padding-top: 46px;
  padding-bottom: 38px;
}

.main-footer__htmlacademy {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover {
    .htmlacademy__icon {
      fill: #68b738;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .main-footer {
    padding-top: 52px;
    padding-bottom: 56px;
  }

  .main-footer__wrapper {
    width: 708px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .main-footer__logo {
    margin: 0;
  }

  .main-footer__social {
    padding: 0;
    min-width: 132px;
  }
}

@media (min-width: @desktop-width) {
  .main-footer__wrapper {
    width: 1220px;
    margin: 0 auto;
  }
}
