.main-header__wrapper {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;
  position: relative;
}

.main-header__logo {
  margin-top: 10px;
}

.main-header__logo-text {
  margin-bottom: 6px;
  margin-left: 53px;
}

.main-header__logo-tablet {
  display: none;
}

.main-header__logo-desktop {
  display: none;
}

@media (min-width: @tablet-width) {
  .main-header__wrapper {
    flex-direction: row;
    justify-content: space-between;
    width: 708px;
    margin: 0 auto;
  }

  .main-header__logo {
    width: 174px;
    margin-top: 24px;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }

  .main-header__logo-image {
    width: 174px;
    height: 52px;
  }

  .main-header__logo-text {
    display: none;
  }

  .main-header__toggle {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .main-header__wrapper {
    width: 1220px;
    margin: 0 auto;
  }

  .main-header__logo {
    width: 202px;
  }

  .main-header__logo-image {
    width: 202px;
    height: 59px;
  }

  .main-header__toggle {
    display: none;
  }
}
