@media (min-width: @desktop-width) {
  .page__body {
    background-image: linear-gradient(to top, #68b738d9, #68b738d9), url("../img/background/promo-background-desktop.jpg");
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: 720px 694px;
  }

  .page__body--catalog {
    background-image: none;
  }
}
