@media (min-width: @desktop-width) {
  .page__body {
    background-image: linear-gradient(to top, #68b738d9, #68b738d9), url("../img/background/promo-background-desktop.jpg");
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: 720px 694px;
  }

  @media (min-resolution: 2dppx) {
    .page__body {
      background-image: linear-gradient(to top, #68b738d9, #68b738d9), url("../img/background/promo-background-desktop@2x.jpg");
    }
  }

  .page__body--other {
    background-image: none;
  }

  @media (min-resolution: 2dppx) {
    .page__body--other {
      background-image: none;
    }
  }
}
