.promo {
  background-image: linear-gradient(to top, #68b738d9, #68b738d9), url("../img/promo-background.jpg");
  background-repeat: no-repeat;
  background-size: 320px 302px;
  background-position-x: center;
  color: #ffffff;
}

@media (min-resolution: 2dppx) {
  .promo {
    background-image: linear-gradient(to top, #68b738d9, #68b738d9), url("../img/promo-background@2x.jpg");
  }
}

.promo__wrapper {
  width: 280px;
  margin: 0 auto;
}

.promo__header {
  padding-top: 25px;
  margin-bottom: 10px;
  text-align: center;
}

.promo__slogan {
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 25px;
}

.promo__intro {
  font-size: 14px;
  line-height: 14px;
  margin: 0;
  text-transform: uppercase;
  margin-bottom: 29px;
}

.promo__button {
  padding: 10px 73px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #68b738;

  &:hover {
    background-color: #5fac2f;
  }

  &:active {
    color: #ffffff4d;
  }
}

@media (min-width: @tablet-width) {
  .promo {
    background-image: none;
  }

  .promo__wrapper {
    width: 708px;
    margin: 0 auto;
  }

  .promo__header {
    text-align: left;
    margin-left: 87px;
    padding-top: 62px;
  }

  .promo__slogan {
    color: #000000;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 41px;
  }

  .promo__intro {
    color: #000000;
    font-size: 20px;
    line-height: 20px;
  }

  .promo__logo {
    display: none;
  }

  .promo__footer {
    height: 609px;
    background-image: url("../img/logo-promo-background.jpg");
    background-repeat: no-repeat;
    background-size: 709px 609px;
    background-position-x: right;
    background-position-y: -10px;
    margin-left: 91px;
    padding-top: 37px;
  }

  @media (min-resolution: 2dppx) {
    .promo__footer {
      background-image: url("../img/logo-promo-background@2x.jpg");
    }
  }

  .promo__button {
    font-size: 20px;
    line-height: 20px;
    padding: 12px 27px;
  }
}

@media (min-width: @desktop-width) {
  .promo {
    background-image: url("../img/logo-promo-desktop.png");
    background-size: 552px 499px;
    background-position-x: 558px;
    background-position-y: 32px;
  }

  @media (min-resolution: 2dppx) {
    .promo {
      background-image: url("../img/logo-promo-desktop@2x.png");
    }
  }

  .promo__wrapper {
    width: 1220px;
    margin: 0 auto;
  }

  .promo__header {
    padding-top: 110px;
  }

  .promo__footer {
    background-image: none;
    height: min-content;
    padding-bottom: 309px;
  }
}
