.form-contact {
  padding: 0;
  margin: 0;
  margin-top: 26px;
  margin-bottom: 24px;
  border: 0;
}

.form-contact__title {
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  margin-bottom: 21px;
}

.form-contact__field-group {
  margin: 0;
  margin-top: 14px;
}

.form-contact__label {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}

.form-contact__input {
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}
