.program__button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #68b738;
}

.program__required {
  font-family: "Arial", sans-serif;
  margin: 0;
  line-height: 16px;
  color: #000000;
}
