.program__wrapper {
  width: 280px;
  margin: 0 auto;
}

.program__button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #68b738;
}

.program__required {
  font-family: "Arial", sans-serif;
  margin: 0;
  margin-top: 21px;
  margin-bottom: 32px;
  line-height: 16px;
  color: #000000;
}

@media (min-width: @tablet-width) {
  .program__wrapper {
    width: 708px;
    margin: 0 auto;
  }

  .program__form-button {
    display: flex;
  }
}

@media (min-width: @desktop-width) {
  .program__wrapper {
    width: 1220px;
    margin: 0 auto;
  }

  .program__form {
    display: grid;
    grid-template-columns: repeat(2, 568px);
    grid-template-rows: repeat(4, 200px);
    row-gap: 67px;
  }
}
