.advertisement {
  margin: 35px 0;
  background-image: linear-gradient(to top, #68b738d9, #68b738d9), url("../img/background/advertisement-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;  /* 279px 289px */
  color: #ffffff;
  background-color: #68b738d9;
}

.advertisement__info {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}
