.base-products__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #000000;
  margin: 0;
  margin-top: 27px;
  margin-bottom: 41px;
}

.base-products__list {
  list-style-type: none;
  padding: 0;
}

.base-products__card {
  padding-top: 19px;
  padding-bottom: 25px;
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: 112px 40px;
}

.base-products__button {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #68b738;
  grid-column: 1 / -1;
}

@media (min-width: @tablet-width) {
  .base-products__list {
    display: grid;
    grid-template-columns: repeat(2, 342px);
    grid-template-rows: repeat(4, 511px);
    gap: 60px;
  }

  .base-products__card {
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .base-products__list {
    grid-template-columns: repeat(4, 245px);
    grid-template-rows: repeat(2, 511px);
    row-gap: 62px;
    column-gap: 80px;
  }
}
