.more-products__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 36px;
  color: #000000;
}

.more-products__card {
  padding-top: 13px;
  padding-bottom: 19px;
}

.more-products__subtitle {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
  margin: 0;
  margin-bottom: 13px;
}

.more-products__button {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #68b738;
}
