.products-text__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  color: #222222;
}

.products-text__info {
  font-family: "Arial", sans-serif;
  line-height: 14px;
  margin: 0;
}

.products-text__number {
  font-family: "Arial", sans-serif;
  line-height: 14px;
  margin: 0;
}
